<div class="h-100">
  <mat-sidenav-container class="h-100">
    <mat-sidenav mode="side" #snav [opened]="true" class="mt-60px w-20">
      <div>
        <mat-nav-list *ngIf="!!teams">
            <mat-list-item *ngFor="let team of teams | async" [routerLink]="[team.pkUserTeam]">
              <div matListItemTitle>{{ team.name | titlecase }}</div>
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
          <mat-list-item class="bg-a-100" [routerLink]="['new-team']">
            <div class="d-flex justify-content-between">
              Add new team
              <mat-icon>add</mat-icon>
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <mat-nav-list>
        <mat-list-item>
          Buy me a coffee
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>