<div id="team-member-card-wrapper"> 
  <mat-card class="team-memeber-card">
    <mat-card-header class="w-25">
      <mat-card-title-group>
        <img mat-card-sm-image [src]="form.value.spriteUrl">
        <mat-card-title>{{ (form.value.name | transloco) | titlecase }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
  
    <mat-card-content class="w-65 d-flex align-items-center">
        <mat-chip-listbox class="w-30">
          <mat-chip *ngFor="let type of form.value.types" [class]="['chip', 'border-'+formatTypeName(type)]">
            {{ (type | transloco) | titlecase }}
          </mat-chip>
        </mat-chip-listbox>
        <div>
          <ng-container *ngIf="form.value.nature">
            <div><span style="font-weight: bold;">Nature: </span>{{(form.value.nature?.name | transloco) | titlecase}}</div>
          </ng-container>
          <ng-container *ngIf="form.value.ability">
            <div><span style="font-weight: bold;">Ability: </span>{{(form.value.ability?.name | transloco) | titlecase}}</div>
          </ng-container>
        </div>
    </mat-card-content>
  
    <mat-card-actions class="ms-auto gap-10">
      <mat-icon class="c-pointer" (click)="onEditPokemon()">settings</mat-icon>
      <mat-icon color="warn" class="c-pointer" (click)="onRemovePokemon()">delete</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>

