<div id="team-member-card-wrapper"> 
  <mat-card class="team-memeber-card">
    <mat-card-header>
      <mat-card-title-group>
        <img mat-card-sm-image [src]="form.value.spriteUrl">
        <mat-card-title>{{ (form.value.name | transloco) | titlecase }}</mat-card-title>
      </mat-card-title-group>
      <mat-chip-listbox>
        <mat-chip *ngFor="let type of form.value.types" [class]="['chip', 'border-'+formatTypeName(type)]">
          {{ (type | transloco) | titlecase }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-header>
  
    <mat-card-content>
    </mat-card-content>
  
    <mat-card-actions>
      <mat-icon color="warn" class="c-pointer" (click)="onRemovePokemon()">delete</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>

