#pika-spinner-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: #708090b5;

    .pika-run {
        transform: scale(0.2);
    }
}